<div class="page-header">
  <p class="titulo-pagina">SEJA <br> BEM VINDO</p>
  <p class="retirar-senha">SELECIONE UMA OPÇÃO</p>
</div>
<div class="card card-block w-100 mx-auto">
  <div class="row">
    <div class="col-sm-12 welcome-usr-interaction">
      <button class="btn btn-primary btn-brand-continue" (click)="goIdentificacao('atendimento')">ATENDIMENTO</button>
      <button class="btn btn-primary btn-brand-continue" (click)="goIdentificacao('prioritário')">
        PRIORITÁRIO<img src="./assets/picto.png" alt="pictograma" role="pictograma" class="picto">
      </button>
    </div>
  </div>
  <div class="row">
    <div class="legal-msg-info">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      <p>Sua imagem será capturada para facilitar o atendimento na agência. <br /> A imagem será descartada após o atendimento.</p>
    </div>
  </div>
</div>
