<ngx-spinner class="crm-wait-info" bdColor="rgba(255,255,255,1)" size="medium" color="#cd0a2f" type="ball-clip-rotate" fullscreen="true">
  <p style="color: #cd0a2f">buscando informações...</p>
</ngx-spinner>
<div class="page-header">
  <img class="icon-voltar" src="./assets/back.png" alt="Botão Voltar" (click)="previousPage()">
  <p class="titulo-pagina">CORRENTISTA</p>
  <p class="sub-titulo">PARA MELHOR ATENDE-LO <br>INFORME SUA AG/CC</p>
</div>

<form [formGroup]="crmForm" (ngSubmit)="onSubmit()" class="bond-form">
  <div class="bond-full-width">
      <label for="ag"><strong>DIGITE SUA AGÊNCIA</strong></label>
      <input class="input-ag" #agInput type="text"
      formControlName="ag"
      (focus)="toggleShowDiv('divA')"/>
  </div>
  <div class="bond-full-width">
      <label for="cc"><strong>DIGITE SUA CONTA</strong></label>
      <input class="input-cc" id="input-cc" #ccInput type="text"
      formControlName="cc"
      (focus)="toggleShowDiv('divB')"/>

      <label for="dv"><strong>INSIRA O DIGITO DA CONTA</strong></label>
      <input class="input-dv" #dvInput type="text"
      formControlName="dv"
      (focus)="toggleShowDiv('divC')"/>
  </div>
</form>
<div class="col-sm-12 numpad divA" [@slideInOut]="animationStateA">
  <numpad (numValue)="recebeValorAgencia($event)" (fechaPad)="recebeFechaA($event)" [config]="vkConfig"></numpad>
</div>
<div class="col-sm-12 numpad divB" [@slideInOut]="animationStateB">
  <numpad (numValue)="recebeValorConta($event)" (fechaPad)="recebeFechaB($event)" [config]="vkConfig"></numpad>
</div>
<div class="col-sm-12 numpad divC" [@slideInOut]="animationStateC">
  <numpad (numValue)="recebeValorDigito($event)" (fechaPad)="recebeFechaC($event)" [config]="vkConfig"></numpad>
</div>
