<ngx-spinner class="crm-wait-info" bdColor="rgba(255,255,255,1)" size="medium" color="#cd0a2f" type="ball-clip-rotate" fullscreen="true">
  <p style="color: #cd0a2f">cadastrando informações...</p>
</ngx-spinner>
<div class="page-header">
  <img class="icon-voltar" src="{{ './assets/' + (fluxo.crm.idCategoria === 8 || fluxo.crm.idCategoria === 17 ? 'backprime': 'back') + '.png' }}" alt="Botão Voltar" (click)="previousPage()">
  <p class="logo-cliente" id="crm2"></p>
  <p class="titulo-pagina" [style.color]="fluxo.crm.idCategoria === 8 || fluxo.crm.idCategoria === 17 ? '#070707': 'inherit'">CORRENTISTA</p>
  <p class="sub-titulo" [style.color]="fluxo.crm.idCategoria === 8 || fluxo.crm.idCategoria === 17 ? '#070707': 'inherit'">COMO DESEJA <br>SER CHAMADO(A)?</p>
</div>
<form [formGroup]="crmPFform" (ngSubmit)="onSubmit()" class="bond-form" *ngIf="!isEmpresa;else crmEmpresa">
    <div class="bond-full-width">
      <label for="nome" [style.color]="fluxo.crm.idCategoria === 8 || fluxo.crm.idCategoria === 17 ? '#070707': 'inherit'"><strong>DIGITE SEU NOME</strong></label>
      <input [class]="fluxo.crm.idCategoria === 8 || fluxo.crm.idCategoria === 17 ? 'input-ag-prime campo-ag': 'input-ag campo-ag'"
        #nomeInput type="text"
        formControlName="nome"
        (focus)="toggleShowDiv('divA')"/>
    </div>
    <div class="bond-full-width">
      <label for="nome" [style.color]="fluxo.crm.idCategoria === 8 || fluxo.crm.idCategoria === 17 ? '#070707': 'inherit'"><strong>DIGITE SEU CPF</strong></label>
      <input ValCpf [class]="fluxo.crm.idCategoria === 8 || fluxo.crm.idCategoria === 17 ? 'input-cc-prime campo-cc': 'input-cc campo-cc'"
        #cpfInput type="text"
        formControlName="cpf"
        (focus)="toggleShowDiv('divB')"/>
        <small *ngIf="!crmPFform.get('cpf').valid && crmPFform.get('cpf').touched"
        [class]="fluxo.crm.idCategoria === 8 || fluxo.crm.idCategoria === 17 ? 'form-text text-danger-prime': 'form-text text-danger'"><strong>O CPF INFORMADO É INVÁLIDO!</strong></small>
    </div>
</form>

<ng-template #crmEmpresa>
  <form [formGroup]="crmPJform" (ngSubmit)="onSubmit()" class="bond-form">
    <div class="bond-full-width">
      <label for="razao" [style.color]="fluxo.crm.idCategoria === 8 || fluxo.crm.idCategoria === 17 ? '#070707': 'inherit'"><strong>DIGITE SUA RAZÃO SOCIAL</strong></label>
      <input [class]="fluxo.crm.idCategoria === 8 || fluxo.crm.idCategoria === 17 ? 'input-ag-prime campo-ag': 'input-ag campo-ag'"
        #razaoInput type="text"
        formControlName="razao"
        (focus)="toggleShowDiv('divC')"/>
    </div>
    <div class="bond-full-width">
      <label for="cnpj" [style.color]="fluxo.crm.idCategoria === 8 || fluxo.crm.idCategoria === 17 ? '#070707': 'inherit'"><strong>DIGITE SEU CNPJ</strong></label>
      <input ValCnpj [class]="fluxo.crm.idCategoria === 8 || fluxo.crm.idCategoria === 17 ? 'input-cc-prime campo-cc': 'input-cc campo-cc'"
        #cnpjInput type="text"
        formControlName="cnpj"
        (focus)="toggleShowDiv('divD')"/>
        <small *ngIf="!crmPJform.get('cnpj').valid && crmPJform.get('cnpj').touched"
        [class]="fluxo.crm.idCategoria === 8 || fluxo.crm.idCategoria === 17 ? 'form-text text-danger-prime': 'form-text text-danger'"><strong>O CNPJ INFORMADO É INVÁLIDO!</strong></small>
    </div>
  </form>
</ng-template>

<div class="col-sm-12 numpad divA" [@slideInOut]="animationStateA">
  <keypad (keyValue)="recebeValueNome($event)" (fechaPad)="recebeFechaA($event)"></keypad>
</div>
<div class="col-sm-12 numpad divB" [@slideInOut]="animationStateB">
  <numpad (numValue)="recebeValueCPF($event)" (fechaPad)="recebeFechaB($event)" [config]="vkConfig"></numpad>
</div>
<div class="col-sm-12 numpad divC" [@slideInOut]="animationStateC">
  <keypad (keyValue)="recebeValueRazao($event)" (fechaPad)="recebeFechaC($event)"></keypad>
</div>
<div class="col-sm-12 numpad divD" [@slideInOut]="animationStateD">
  <numpad (numValue)="recebeValueCNPJ($event)" (fechaPad)="recebeFechaD($event)" [config]="vkConfig"></numpad>
</div>
