<div class="page-header" data-pg="print" style="width: 100%;display: block;float: left;padding: 90px 50px;"></div>
<div class="print-default-message animated fadeIn col-sm-12">
    <!--<h2>Aguarde a impressão <br>e retire seu comprovante abaixo</h2>-->
    <div class="print-msg-wpr" [style.color]="fluxo.crm.idCategoria === 8 || fluxo.crm.idCategoria === 17 ? '#070707': '#FFFFFF'">
      <div *ngIf="waitMsg">
        <p class='first-msg'>Aguarde a impressão <br>e retire seu comprovante abaixo</p>
        <i class="fa fa-print"></i>
      </div>

      <div *ngIf="printMsg" [style.color]="fluxo.crm.idCategoria === 8 || fluxo.crm.idCategoria === 17 ? '#070707': '#FFFFFF'">
        <p class="senha-msg">Obrigado.</p>
        <!--p class="senha">{{ senha }}</p-->
        <p class="senha-msg">{{ txt }}</p>
      </div>

      <div *ngIf="errorMsg" [style.color]="fluxo.crm.idCategoria === 8 || fluxo.crm.idCategoria === 17 ? '#070707': '#FFFFFF'">
        <p class='warning-msg'>Sistema temporariamente indisponível! <br>Procure por um de nossos atendentes.</p>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
      </div>

      <mat-dialog-actions class="mat-dialog-footer" align="end" *ngIf="!waitMsg">
        <button mat-raised-button class="custom-btn sendBtn" (click)="volarHome()">OK</button>
      </mat-dialog-actions>
    </div>
</div>
