<ngx-spinner bdColor ="transparent" size ="large" color ="#ffffff" type ="ball-clip-rotate" fullScreen = "true">
  <p style="color: #ffffff;"><strong>Por favor aguarde...</strong></p>
</ngx-spinner>
<webcam *ngIf="showWebcam"
  [hidden]="true"
  [height]="250"
  [width]="250"
  [trigger]="triggerObservable"
  [imageQuality]="0.92"
  [imageType]="image/png"
  [allowCameraSwitch]="allowCameraSwitch"
  [switchCamera]="nextWebcamObservable"
  [videoOptions]="videoOptions"
  (imageCapture)="handleImage($event)"
  (cameraSwitched)="cameraWasSwitched($event)"
  (initError)="handleInitError($event)"
></webcam>
